page-login-page {
.background{
         background-image: url(../assets/bg.jpg);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }
.bottom{
        position: absolute;
        bottom: 0;
    }
}
